*
{
    margin: 0%;
    padding: 0%;
    border-bottom: 0%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
/*navbar starts*/
span{
    font-size: 50px;
    font-weight: bold;
    color: black;
    margin-left: 10px;
}
.navbar{
    display: flex;
    width: 100%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    padding: 10px;
    background: #cccccc;
}
.nav-a{
    font-size: 20px;
    color: black;
    text-decoration: none;
    margin-top: 30px;
    margin-left: 10px;
}
.login{
    height: 50px;
    width: 150px;
    color: black;
    background: transparent;
    border-radius: 40px;
    border: 0.5px solid black;
    margin-right: 20px;
}
.login:hover{
    color: white;
    background: black;
    transition: 0.5s;
    cursor: pointer;
}
.web{
    color: white;
    background-color:#3385ff ;
    height: 50px;
    width: 250px;
    border-radius: 40px;
    border: none;
}
.alignment{
    margin-left: 40px;
    margin-right: 20px;
}
.web:hover{
    background-color:  #66a3ff;
    transition: 0.5s;
}
.car{
    height: 400px;
    width: 100%;
    background-color:white;
    margin-top: 92px;
}
.leading{
    color: black;
    font-size:xx-large;
    margin-left: 250px;
    font-size: 70px;
    padding: 80px;
}
.container{
    width: 100%;
    height: 600px;
    background-position: center;
    background-size: cover;
    background-image: url('https://images.pexels.com/photos/3182773/pexels-photo-3182773.jpeg?cs=srgb&dl=pexels-fauxels-3182773.jpg&fm=jpg');
    background-attachment: fixed;
}
.sec-left{
    margin-left: 200px;
    font-size: 40px;
    font-weight: bold;
    margin-top: 50px;
}
.sec-right{
    margin-left: 150px;
    font-size: 20px;
    margin-top: 60px;
}
.content-card{
    height: 400px;
    display: flex;
}
.growth-chart{
    height: 500px;
    width: 900px;
    margin-left: 330px;
}
.final{
    margin-top: 200px;
}
.pro{
    margin-top: 250px;
    margin-left: 200px;
    font-size: 60px;
    font-weight: bold;
}
.web-2{
    height: 60px;
    width: 250px;
    border: none;
    color: white;
    background: black;
    border-radius: 40px;
    margin-left: 200px;
}
.web-2:hover{
    cursor: pointer;
    background: #404040;
    transition: 0.5s;
}
/* footer */

.footer-container{
    height: 530px;
    width: 100%;
    background-color: #0d0d0d;
    display: flex;
    color: #e6e6e6;
}
.foot-head{
    color: #f6eeee;
    padding: 50px;
    display: flex;
}
.sub-footer{
    color: rgb(243, 238, 238);
    text-decoration: none;
    margin-top: 70px;
    margin-left: 80px;
}
.color{
    color: rgb(249, 242, 242);
    text-decoration: none;
}
.logo{
    height: 100px;
    width: 250px;
}
.content{
    color: white;
    margin-top: 30px;
    font-weight: none;
    font-size: 15px;
}
.footer-logo{
    height: 40px;
    margin-right: 8px;
    cursor: pointer;
}