*
{
    margin: 0%;
    padding: 0%;
    border-bottom: 0%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
/*navbar starts*/
span{
    font-size: 50px;
    font-weight: bold;
    color: black;
    margin-left: 10px;
}
.navbar{
    display: flex;
    width: 100%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    padding: 10px;
    background: #cccccc;
}
.nav-a{
    font-size: 20px;
    color: black;
    text-decoration: none;
    margin-top: 30px;
    margin-left: 10px;
}
.login{
    height: 50px;
    width: 150px;
    color: black;
    background: transparent;
    border-radius: 40px;
}
.login:hover{
    color: white;
    background: black;
    transition: 0.5s;
    cursor: pointer;
}
.web{
    color: white;
    background-color:#3385ff ;
    height: 50px;
    width: 250px;
    border-radius: 40px;
    border: none;
}
.alignment{
    margin-left: 40px;
    margin-right: 20px;
}