*
{
    margin: 0%;
    padding: 0%;
    border-bottom: 0%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
/*navbar starts*/
span{
    font-size: 50px;
    font-weight: bold;
    margin-left: 20px;
    color: black;
}
.navbar{
    display: flex;
    width: 100%;
    position: sticky;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    padding: 10px;
    background: #cccccc;
}
.nav-a{
    font-size: 20px;
    color: black;
    margin-left: 20px;
    text-decoration: none;
    margin-top: 30px;
}
#submenus{
    left: 0;
    opacity: 0;
    position: absolute;
    top: 35px;
    z-index: 1;
    visibility: hidden;
}
ul#submenus li:hover{
    opacity: 1;
    top: 50px;
}
#submenu li{
    float: none;
    width: 100%;
}
.search-bar{
    margin-left: 250px;
    height: 40px;
    margin-top: 10px;
    width: 250px;
    border: none;
    border-radius: 5px;
    padding: 5px;
    background: none;
}
.subscribe{
    height: 50px;
    width: 150px;
    border-radius: 40px;
    border: solid 1px black;
    background: transparent;
    margin-left: 20px;
    margin-top: 10px;
}
.subscribe:hover{
    color: white;
    background: black;
    transition: 0.5s;
    cursor: pointer;
}
.create{
    height: 50px;
    width: 220px;
    margin-left: 20px;
    margin-top: 10px;
    border-radius: 40px;
    border: none;
    color: white;
    background: #3385ff;
}
.create:hover{
    background: #66a3ff;
    transition: 0.5s;
    cursor: pointer;
}
#social-media{
    margin-top: 230px;
    margin-left: 30px;
}
.icon{
    height: 34px;
    display: block;
    margin-top: 40px;
}
.side-bar{
    position: fixed;
}
/*navbar ends*/
.description{
    margin-top: 150px;
    margin-left: 200px;
}
.header{
    margin-top: 30px;
    font-size: 70px;
}
.image{
    height: 500px;
}
p{
    font-size: 20px;
}
.start{
    margin-left: 400px;
    margin-top: 30px;
    height: 50px;
    width: 200px;
    border-radius: 40px;
    background: #3385ff;
    border: none;
    color: white;
    cursor: pointer;
}
.start:hover{
    background: #66a3ff;
    transition: 0.5s;
}
.youtube{
    margin-top: 40px;
}
h2{
    font-size: 30px;
    margin-top: 40px;
    font-weight: bold;
}
.top{
    margin-top: 30px;
}
ol{
    margin-top: 30px;
}
.gap{
    color: #3385ff;
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
}
.e-learn{
    height: 450px;
    width: 75%;
    margin-top: 30px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;;
}
hr{
    margin-right: 100px;
}
.small{
    height: 20px;
    margin-right: 25px;
    cursor: pointer;
}
.small:hover{
    background-color: #e6f2ff;
    border-radius: 50%;
    padding: 10px;
    transition: 0.5s;
}
.comment{
    height: 100px;
    width: 900px;
    font-size: 15px;
    border: none;
}
.opinion{
    text-align: center;
}
.opi-btn{
    height: 50px;
    width: 150px;
    border-radius: 40px;
    background: transparent;
    margin-left: 450px;
}
.opi-btn-2{
    height: 50px;
    width: 150px;
    border-radius: 40px;
    background: transparent;
    margin-left: 20px;
}
.opi-btn:hover{
    color: white;
    background: black;
    cursor: pointer;
    transition: 0.5s;
}
.opi-btn-2:hover{
    color: white;
    background: black;
    cursor: pointer;
    transition: 0.5s;
}
.card-container{
    height: 450px;
    width: 95%;
    background-color: black;
    color: white;
}
#title{
    margin-left: 50px;
    font-size: 70px;
}
.email{
    height: 50px;
    width: 200px;
    color: white;
    border: none;
    margin-top: 100px;
    margin-left: 600px;
    background: transparent;
    color: white;
}
.edit{
    margin-left: 600px;
}
.join{
    height: 50px;
    width: 150px;
    border-radius: 40px;
    color: black;
    background: white;
    margin-left: 100px;
}
.join:hover{
    cursor: pointer;
    background: #e6e6e6;
    transition: 0.5s;
    cursor: pointer;
}
.checkbox{
    margin-left: 700px;
}
.checkbox-2{
    margin-left: 700px;
    margin-top: 15px;
}
.space{
    margin-left: 320px;
    font-size: 20px;
}
.move{
    margin-left: 500px;
}

/* footer */

.footer-container{
    height: 500px;
    width: 100%;
    background-color: #0d0d0d;
    display: flex;
    color: #e6e6e6;
}
.foot-head{
    color: #f6eeee;
    padding: 50px;
    display: flex;
}
.sub-footer{
    color: rgb(243, 238, 238);
    text-decoration: none;
    margin-top: 70px;
    margin-left: 80px;
}
.color{
    color: rgb(249, 242, 242);
    text-decoration: none;
}