*
{
    margin: 0%;
    padding: 0%;
    border-bottom: 0%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
/*navbar starts*/
span{
    font-size: 50px;
    font-weight: bold;
    color: black;
}
.navbar{
    display: flex;
    width: 100%;
    position: sticky;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    padding: 10px;
    background: #cccccc;
}
.nav-a{
    font-size: 20px;
    color: black;
    margin-left: 20px;
    text-decoration: none;
    margin-top: 30px;
}
#submenus{
    left: 0;
    opacity: 0;
    position: absolute;
    top: 35px;
    z-index: 1;
    visibility: hidden;
}
ul#submenus li:hover{
    opacity: 1;
    top: 50px;
}
#submenu li{
    float: none;
    width: 100%;
}
.search-bar{
    margin-left: 250px;
    height: 40px;
    margin-top: 10px;
    width: 280px;
    border: none;
    border-radius: 5px;
    padding: 5px;
    background: none;
}
.subscribe{
    height: 50px;
    width: 150px;
    border-radius: 40px;
    border: solid 1px black;
    background: transparent;
    margin-left: 20px;
    margin-top: 10px;
}
.subscribe:hover{
    color: white;
    background: black;
    transition: 0.5s;
    cursor: pointer;
}
.create{
    height: 50px;
    width: 250px;
    margin-left: 20px;
    margin-top: 10px;
    border-radius: 40px;
    border: none;
    color: white;
    background: #3385ff;
    margin-right: 5px;
}
.create:hover{
    background: #66a3ff;
    transition: 0.5s;
    cursor: pointer;
}
#social-media{
    margin-top: 180px;
    margin-left: 30px;
}
.icon{
    height: 34px;
    display: block;
    margin-top: 40px;
}
.side-bar{
    position: fixed;
}
/*navbar ends*/